body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background-color: #000;
  height: 100%;
  margin: 0;
  overflow: hidden;
}


#title {	
    font-size: 5vmax;
    margin: 5px; 
    height: 10%; 
    color: white;
    background-color: black;
} 

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: black;
}

.axis text {
  fill: #FFF;
}

.line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}

.graphPanelVert {
	width: 100%;
	height: 100%;
}



.graphPanelHorz {
    width: 100%;
    height: 100%;
    float: left;
}


#mainPanel {
	width: 100%;
	height: 90%;
}

.graph {
  background-color: black;	
  position: relative; 
}