body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  background-color: #fefefe;
  height: 100%;
  margin: 0;
  overflow: hidden;
}


#title {	
    font-size: 5vmax;
    margin: 5px; 
    height: 10%; 
    background-color: lightgreen;
} 

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #555;
}

.line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}

#graph {
  background-color: lightblue;	
  width: 100%;
  height: 90%;
  position: absolute;
}